<!DOCTYPE html>
<html ng-app="OffreApp">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="vendor/jquery/jquery.min.js"></script>

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/bootstrap-css/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/fullcalendar/fullcalendar.css">
    
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.min.js"></script>
    
    <script type="text/javascript" src="vendor/jquery-ui/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="vendor/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="vendor/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="vendor/fullcalendar/gcal.js"></script>
    
    <script type="text/javascript" src="vendor/angular-ui/bootstrap/ui-bootstrap-0.9.0.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui/bootstrap/ui-bootstrap-tpls-0.9.0.min.js"></script>
    
    <script src="scripts/app.js"></script>
    <script src="scripts/services/pub.js"></script>
    
    <title>POC Offre</title>
</head>

<body ng-controller="OffreCtrl">
    
<div class="panel panel-default">
    <div class="panel-body">
        <table>
            <tbody>
                  <tr ng-repeat="elem in liste">
                    <td>{{elem.nom}}</td>
                    <td>{{elem.prenom}}</td>
                  </tr>
            </tbody>

        </table>
    </div>
    <div class="panel-body">
        <div class="btn-toolbar">
            <p class="pull-right lead">Calendar One View Options</p>
            <div class="btn-group">
                <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
                <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
                <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
            </div>
          </div>
        
        
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar"></div> 
    </div>
</div>
    

    
    
        
</body>

</html>