<div class="panel panel-default">

    <div class="panel panel-heading">
	    <div class="panel-title form-inline">
		    <H4 data-toggle="collapse" data-target="#collapsible-crit-affichage" data-parent="#myAccordion">Affichage</H4>
	    </div>

    </div>

	    <div id="collapsible-crit-affichage" class="collapse in">
			<div class="panel-body">

				<input class="pull-left" type="checkbox" ng-model="affichage.displayTotalDuration"/>Durée totale<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayCommercialDuration"/>Durée Commercialiée<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayRemainingDuration"/>Durée restante<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displaySoldDuration"/>Durée vendue<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayOverbookedDuration"/>Durée surboukée<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayAuthorizedDuration"/>Surbook autorisé<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displaytarifFormat"/>Tarif format<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayMonospot"/>Monospot<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayNbrSpots"/>Nbr spots<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displaySpecifique"/>Spécifique<br>
				<input class="pull-left" type="checkbox" ng-model="affichage.displayQuotas"/>Dép. quotas<br>

	    	</div>
		</div>

</div>	