<div class="panel panel-default">

    <div class="panel panel-heading">

	    <div class="panel-title form-inline">
		    <H4 data-toggle="collapse" data-target="#collapsible-details-ecrans" data-parent="#myAccordion">Détails écran</H4>
	    </div>

    </div>

	<div id="collapsible-details-ecrans" class="collapse in">
		<div class="panel-body">
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayConcVarSeuil"/>Conc. Var. Seuil
            </label>
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayConcSectSeuil"/>Conc. Sect. Seuil
            </label>
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayCibleGarantie"/>CGRP cible Garantie
            </label>
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayGRPCibleGarantie"/>GRP cible Garantie
            </label>
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayIndiceRetombee"/>indice de retombée
            </label>
	    </div>
	</div>

</div>