<div class="panel panel-default">


    <div class="panel panel-heading">
	    <div class="panel-title form-inline">
		    <H4 data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">Filtres Ecrans</H4>
	    </div>
    </div>

    <div id="collapsible-2" class="collapse in">
		<div class="panel-body">
            <label>Types écrans</label>
			<div class="btn-group btn-group-xs">
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.zero">0</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.un">1</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.deux">2</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.trois">3</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.quatre">4</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.cinq">5</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.six">6</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.sept">7</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.huit">8</button>
			  <button type="button" class="btn" data-toggle="button" ng-model="typeEcran.neuf">9</button>
			</div>
            
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displayTypesEcranD817"/>Types écrans D817
            </label>
            <label class="checkbox">
                <input class="pull-left" type="checkbox" ng-model="filtreEcran.displaySeuilAvailability"/>Disponibilité Seuil
            </label>
   		</div>
	</div>
	
</div>