<div class="panel panel-default">

    <div class="panel panel-heading">
	    <div class="panel-title form-inline">
		    <H4 data-toggle="collapse" data-target="#collapsible-filtres-camp" data-parent="#myAccordion">Filtres Campagnes</H4>
	    </div>

    </div>

	    <div id="collapsible-filtres-camp" class="collapse in">
			<div class="panel-body">

			<input class="pull-left" type="checkbox" ng-model="filtreEcran.displayConcVarSeuil"/>Conc. Var. Seuil<br>
			<input class="pull-left" type="checkbox" ng-model="filtreEcran.displayConcSectSeuil"/>Conc. Sect. Seuil<br>
			<input class="pull-left" type="checkbox" ng-model="filtreEcran.displayCibleGarantie"/>CGRP cible Garantie<br>
			<input class="pull-left" type="checkbox" ng-model="filtreEcran.displayGRPCibleGarantie"/>GRP cible Garantie<br>
			<input class="pull-left" type="checkbox" ng-model="filtreEcran.displayIndiceRetombee"/>Indice de retombée<br>

	    </div>
	</div>
</div>