<div class="mainContainer" xmlns="http://www.w3.org/1999/html" ng-controller="OffreCtrl">
    
	<div class="panel panel-default">
        <table class="table table-bordered c-screen-table">
            <thead>
                <tr>
                    <th style="width: 100px;"/>
                    <th ng-repeat="dayOfWeek in daysOfWeek">{{dayOfWeek.day}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="screen in screens">
                    <td>{{screen.period}}</td>
                    <td ng-repeat="dayOfWeek in daysOfWeek">
                        <!-- Affichage d'une cellule de grille -->
                        <div class="c-screen">
                            <div class="c-screen-header">
                                {{screen.title}}
                            </div>
                            <div class="c-screen-spots">
                                <!-- Itération sur les spots de l'écran publicitaire -->
                                <div ng-repeat="spot in screen.spots">
                                    <div class="c-spot ui-draggable" unselectable="on">
                                        <span class="fc-event-time">{{spot.duration}}</span><span class="fc-event-title">{{spot.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


	<div class="panel panel-default">
	    <div class="panel-body">
	        <table>
	            <tbody>
	                  <tr ng-repeat="elem in liste">
	                    <td>{{elem.nom}}</td>
	                    <td>{{elem.prenom}}</td>
	                  </tr>
	            </tbody>

	        </table>
	    </div>
	    <div class="panel-body">
	        <div class="btn-toolbar">
	            <p class="pull-right lead">Calendar One View Options</p>
	            <div class="btn-group">
	                <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
	                <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
	                <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
	            </div>
	          </div>
	        
	        
	        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar"></div> 
	    </div>
	</div>

</div>